[submodule "toolchain"]
	path = toolchain
	url = https://github.com/stanfordsnr/gg-toolchain
[submodule "test_vectors"]
	path = test_vectors
	url = https://github.com/stanfordsnr/gg-test-vectors
[submodule "third_party/cpptoml"]
	path = third_party/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
	branch = d5b4c69b7113213c1da3a0ccbfd1ee1b40443c7a
